* {
    margin: 0;
    padding: 0;
}

textarea {
    width: 80%;
    resize: none;

    background-color: #3b3b3b;

    color: white;
    font-size: 2rem;
}

.App {
    height: 100vh;
    background-color: #ffffff;
}

.answer-box {
    height: 70%;
    margin: 2% 10%;
}

.text-box {
    height: 20%;
    margin: 0% 10%;
}